#map, html, body {
  padding: 0;
  margin: 0;
  height: 100%;
}

#panel {
  width: 200px;
  float: right;
  margin: 10px;
}

#pac-input {
  font-size: 15px;
  font-weight: 300;
  margin-top: 12px;
  margin-left: 12px;
  padding: 0 11px 0 13px;
  text-overflow: ellipsis;
  width: 400px;
}